s?
j?
x?
p?
*-orig
t
u
*~
printerm
printermg
lgen
lgeng
*-backup
*.o
*.h
\#*\#
jay/*
syntaxl.l
syntaxk.l
bs1/*
bs2/*
bs3/*
bs4/*
*.lh
*.so
lc
*.bc
# *.d
lrt-llvm-0.2
operation.l
*.bak
*.out
*.output
lrt-llvm-0.2.s
forward.c
interp.l
printtermg
.bashhistory